.loader-bg{
    margin: 0;
    padding: 0;
    position: fixed;
    z-index: 99999;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2196f3;
}

.loader{
    position: relative;
    display: flex;
}

.loader span{
    width: 50px;
    height: 310px;
    margin: 0 20px;
    background: #2196f3;
    animation: animate 1.4s linear infinite;
}

.loader span:nth-child(1){
    animation-delay: 0s;
}
.loader span:nth-child(2){
    animation-delay: 0.2s;
}
.loader span:nth-child(3){
    animation-delay: 0.4s;
}
.loader span:nth-child(4){
    animation-delay: 0.6s;
}
.loader span:nth-child(5){
    animation-delay: 0.8s;
}
.loader span:nth-child(6){
    animation-delay: 1s;
}
.loader span:nth-child(7){
    animation-delay: 1.2s;
}

@keyframes animate{
    0%{
        box-shadow: 0 0 0 rgba(0,0,0,.5);
        opacity: 0;
        transform: translateX(-50px) scale(1);
    }
    50%{
        box-shadow: 0 20px 50px rgba(0,0,0,.5),
                    0 30px 60px rgba(0,0,0,.5);
        opacity: 1;
        transform: translateX(0px) scale(1.2);
    }
    100%{
        box-shadow: 0 0 0 rgba(0,0,0,.5);
        opacity: 0;
        transform: translateX(50px) scale(1);
    }
}
/* main body */

body{
    font-family: sans-serif;
}

::-webkit-scrollbar{
        width: 0.000001px;
}
/*header*/
header{
    height: 100vh;
    background: linear-gradient(117.73992253205643deg, rgba(248, 197, 91,.5) 7.05078125%,rgba(248, 97, 55,.5) 93.76953124999999%), url(bg1.jpg) no-repeat center center;
    background-size: cover;
}

/*navbar*/
.nav-menu{
    background:linear-gradient(123.49199993828245deg, rgba(2, 115, 224,.4) 25.33203125%,rgba(0, 0, 0,.4) 97.20703125%);
    padding: 30px; 
    transition: all .6s;
}
.menu-item{
    font-size: 15px;
    letter-spacing: 0px;
    color: #eeee;
    transition: color .5s;
}
.menu-item:hover{
    color: #70aed2;
}
.nav-button{
    outline: transparent !important;
}
.line1, .line3{
    width: 23px;
    height: 3px;
    margin: 5px;
    transition: all .4s;
}
.line2{
    width: 35px;
    height: 3px;
    margin: 5px;
    transition: all .4s;  
    transform: translateX(-5px); 
}

.change .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}
.change .line2{
    opacity: 0;
}
.change .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}

.custom-navbar{
    padding: 5px 30px;
    background: linear-gradient(117.73992253205643deg, rgba(246, 245, 245,1) 7.05078125%,rgba(220, 220, 220,1) 93.76953124999999%);  
}
/*end of navbar*/

/*banner*/
.banner{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
}
.banner-heading{
        animation: baner 2s;
        transition: all .4s;
}
.banner-par{
    animation: baner 2s .5s;
    transition: all .4s;
    animation-fill-mode: backwards;
}

@keyframes baner{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
} 
/*end of  banner*/

/*end of header*/

/*mission*/
.mission{
    background: #151f20;
}
.underline{
     width: 150px;
     border:3px solid #eee;
     margin: auto;
}
/*end of mission*/

/*collection*/
.card-shadow{
    box-shadow: 5px 10px 20px #444;
}
.card-img{
    width: 100%;
    background-size: cover;
}
.heading{
    position: absolute;
    top: 70%;
    right: 10%;
    font-size: 14px;
    letter-spacing: 1px;
    background: #222;
    width: 70%;
    cursor: pointer;
    opacity: 1;
    transition: all .4s;
}
/*end of collection*/

/*gallery*/
.underline-dark{
     width: 150px;
     border:3px solid #888;
     margin: auto;
}
.gallery-list-item{
    color: #777;
    cursor: pointer;
    user-select: none;
}
.active-item{
    color: #70aed2;
}
/*end of gallery*/

/*customers*/
.customers{
    background: #151f20;
}
/*end of customers*/

/*pricing*/
.card1,.card2,.card3{
    background: linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.5)), url(bg1.jpg) center center no-repeat;
    box-shadow: 7px 18px 50px #555;
    background-size:cover;
    max-width: 400px;
}
.over123{
    overflow: hidden;
}
.card-list-item{
    border-bottom: 1px groove #eee;
    width: 55%;
    margin: auto;
}
.price-card-button{
    background: #f5593d;
    width: 130px;
    border-radius: 25px;
    box-shadow: 5px 8px 18px #000;
    transition: all .2s;
}
.price-card-button:hover{
    background: #f5593d;
    transform: translateY(-2px); 
}
.movefromleft{
    animation-name: movefromleft;
    animation-duration: 2s;
}
.movefromright{
    animation-name: movefromright;
    animation-duration: 2s;
}
.movefrombottom{
    animation-name: movefrombottom;
    animation-duration: 2s;
}

@keyframes movefromleft{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes movefromright{
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes movefrombottom{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

/*end of pricing*/

/*contact*/

.contact{
    background: linear-gradient(105deg, 
                                        rgba(21,31,32,1) 0%,
                                        rgba(21,31,32,.95) 50%,  
                                        transparent 50%),
                  url(bg2.jpg) center center no-repeat ;
    background-size:cover;             
}
.input{
    background: transparent;
    border-color: transparent;
    border-bottom: 2px solid #eee;
    border-radius: 0;
    transition: all .8s;
}
.input:focus{
    background: transparent;
    border-color: transparent;
    box-shadow: none;
    color: #fff;
    border-bottom: 2px solid #f5593d;
}
.submit-button{
    background: #f5593d;
    color: #eee;
}
.submit-button:hover{
    background: #f9793d;
    transform: translateY(-3px);
}
.label{
    color: transparent;
    display: block;
    margin-top: -70px;
    margin-left: 4px;
    font-size: 13px;
    transition: all .3s;
}
/*end of contact*/

/*footer*/
.footer-link{
    color: #eee;
    font-size: 13px;
    transition: all .3s;
}
.footer-link:hover{
    color: #70aed2;
    text-decoration: none;

}
#icon1:hover,
#icon2:hover,
#icon3:hover,
#icon4:hover,
#icon5:hover{
       transform: translateY(5px);
       transition: .3s;
}
/*end of footer*/

